/*初始化网页*/
* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #f8f8f8;
}
a {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}
li {
	list-style: none;
}
img {
	border: 0;
}
footer, header, nav {
	display:block;
}
/*居中样式*/
.gid{
	width:1250px;
	margin-right: auto;
	margin-left: auto;
	
}
/*清除浮动*/
  .clearfix:before,
  .clearfix:after {
     content: ".";
     display: block;
     height: 0;
     visibility: hidden;
  }
  .clearfix:after {clear: both;}
  .clearfix {zoom: 1;} /* IE < 8 */


/*设置tou1样式*/
.tou{
	width: 100%; 
	height:30px;
	background-color: #F3F3F3;
	
}
.tou1{
	height: 30px;
	
}
.tou1-1{
	padding-left: 0;
	font-size: 12px;
	
}
.tou1-2{
	font-size: 12px;
	color:#1EA956;
}
.tou1-3{
	float: right;
	font-size: 12px;
	padding-top: 4px;
	}
.tou1-4{
	color: #000;
	font-size: 12px;
}
/*.content1{
	width: 1500px;
	height:70px;
	background-color: #FFF;
	 padding-top: 35px;
	}*/
.edu{
	color:#3A9E2C;
	font-size: 24px;
	display: inline-block;
	margin:40px 20px 32px 0px;
	
}
.content1-1{
	font-size: 24px; 
	
	display: inline-block;
}
.content1-2{
	background-color: #1EA556;
	margin-left:20px;
	margin-right: 10px; 
}
/*.content1-3{
	font-size: 12px; 
	
}*/
.content1-4{
	font-size: 12px; 
	padding-left: 20px;

}

.content1-5,.content1-6,.content1-7{
	font-size: 16px;
	color: #000;
	float:right;
	margin: -40px 30px 20px 50px;
}

.content1-5:hover,.content1-6:hover,.content1-7:hover{color:#1EA956;}
/*内容2样式*/
/*内容3样式*/
#picture0{
	width: 1348px;
	height: 376px;
	/*height: 850px;*/
	overflow: hidden;
	position: relative;
}
#picture1{
	width: 6740px;
	position: absolute;	
	/*width: 1250px;*/
	height: 376px;
	z-index: 1
}
#picture1 a{
	display: block;
	width: 1348px;
	height: 100%;
	float: left;
}
#buttons{
	position: absolute;
	height: 10px;
	width: 100px;
	z-index: 1;
	bottom: 20px;
	left: 644px;
}
#buttons span{
	cursor: pointer;
	float: left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;  
}
#buttons .on{
	background: orangered;
}

/*.img {
	width: 100%;
}
.img1{
	
	z-index: 2;
	position: absolute;
}
.img2{
	
	z-index: 3;
	position: absolute;
}
.img3{
	
	z-index: 4;
	position: absolute;*/
}
/*.menu li{
	
	width:250px;
	height:250px;
	margin-left: 100px;
}*/
.menu{
	width: 1348px;
}
.content2-2,.content2-3,.content2-4{
	float: left;
	width:250px;
	height:250px;
	margin-left: 100px;
}
.content2-2-1,.content2-3-1,.content2-4-1{
	width:250px;
	font-size: 20px;
	font-weight: bold;
	padding: 50px 50px 20px 0px;
}
.content2-2-2,.content2-3-2,.content2-4-2{
	font-size: 14px; 
	width:250px;
	color: #333;
}
.content2-2-3,.content2-3-3,.content2-4-3{
	font-size: 14px;
	width:250px;
	color:#1EA956; 
	padding-top: 15px; 
}
/*内容4样式*/
.content4{
	/*width: 2000px;*/
	height:250px;
	margin-top: 70px;
}
.content4-1,.content4-2,.content4-3,.content4-4,.content4-5{
	float: left;
	width: 19%;
	margin-left: 12px;
	}
.content5-1{
	margin: 70px 0px 20px 50px;
}
.content5-1-1 {
    float: left;
    width: 200px; 
    height: 50px; 
    background-color:#1EA956; 
}
.content5-1-1-1,.content5-1-1-2{
	font-size: 16px;
	text-align: center;
	padding-top: 12px;
}
.content5-1-2{
	float: left; 
	width: 200px; 
	height: 50px;
	 background-color:#F3F3F3;
	}
/*底部样式*/
.footer{
	height:260px;
	width: 100%;
	margin-top: 30px;
	background-color: #2C3339;
}
.footer1,.footer2,.footer3,.footer4{
	float: left;
}
.footer1-1{
	padding: 80px 100px 25px 70px;
	font-size: 24px;
	color:#1EA956;
	 font-weight: bold;
	}
.footer1-2,.footer1-3{
	color: #A9AEB2;
	padding: 0px 100px 20px 70px;
}
.footer2-1,.footer3-1,.footer4-1{
	padding: 75px 55px 20px 0px;
	color: #A9AEB2;
}
.footer2-2,.footer2-3,.footer2-4
,.footer3-2,.footer3-3,.footer3-4
,.footer4-2,.footer4-3,.footer4-4{
	padding: 0px 55px 20px 0px;
}
.footer dd a{
	color: #A9AEB2;	
}
.footer dd a:hover{
	text-decoration: underline;
}
/*中部内容区样式*/
.content5-2{
	position: relative;
	float: left;
	width:980px;
	margin-top:20px;
	margin-left:50px;
	/*margin: 26px auto;*/
	height: 1220px;
}
/*.m-pd{
	position: relative;
	width: 100%;
	height: 100%;
}*/
.content5-2 .m-card{
	display: block;
	position: absolute;
	width: 223px;
	height: 227px;
	background-color: #fff;
	box-shadow: 0 1px 0.5px #e6e6e6;
	cursor: pointer;
}
/*.card{
	z-index: 200;
}
*/
.content5-2 .hover{
	display: none;
	position: absolute;
	box-sizing: border-box;
	width: 480px;
	height: auto;
	background-color: #fff;
	box-shadow: 1px 1px 0.5px #c1c0c0,-1px -1px 0.5px #d3d1d2;
	z-index: 600;
}
.exit{
	/*position: absolute;*/
	float: left;
	/*width:480px;
	height: 1440px;*/
}
.l-btn{
	/*float: right;*/
	position: relative;
	left: 680px;
	width: 302px;
	height: 20px;
}
.l-btn li{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 1px 0;
	font-size: 1em;
	line-height: 20px;
	text-align: center;
	color: #666;
	cursor: pointer;
}
.l-btn li:first-child{
	width: 30px;
	height: 20px;
	background-color: #9dd8b1;
}
.l-btn li:last-child{
	width: 30px;
	height: 20px;
	background-color: #9dd8b1;
}
.l-btn li:hover{
	background-color: #9dd8b1;
	color: #fff;
}
.l-btn .checked{
	color: #39a030;
}

.content5-2-1{
	float:left;
	width:220px;
	height:230px;
	margin-top:0px;
	margin-right:20px;
}
.content5-2-1-1{
	width:220px;
	height:124px;
	overflow:hidden;
}
.content5-2-1-2{
	display:inline-block;
	font-size:12px;
	height:16px;
	text-align:center;
	
	font-weight:normal;
}
.content5-2-1-3{
	
	font-weight:normal;
	font-size:12px;
}
.content5-2-1-4{
	
	width:22px;
	height:16px;
	color:#999;
	background:url("../images/people.png")  no-repeat;
	font-size:12px;
	padding:0 14px 0 16px;
	text-height:16px;
	box-shadow: 0 1px #f1f1f1;
	border:1px solid #e6e6e6;

}
.content5-2-1-5{

	color:#ff3f00;
	font-size:12px;
}
/*内容5右边样式*/
.content5-3{
	float:right;
	margin:-80px 60px 0 0;
	width:232px;
	height:260px;
	border:1px solid #e6e6e6;
}
.content5-3-1{
	width:232px;
	height:38px;
	
	font-size:16px;
	font-weight:normal;
	padding-top:20px;
	padding-left:20px;
}
.content5-3-2{
	border-top:1px solid #e6e6e6;
	padding-top:20px;
	padding-left:20px;
	font-size:14px;
}
.content5-3-3{
	width:180px;
	height:110px;
	margin-left:25px;
	margin-top:20px;
	background-image: url("../images/orgIntro.png");
	background-repeat: no-repeat;
	background-position-x: -190px;
	cursor: pointer;

	/*background-size: 100% 100%;*/
}
.g-pop{
	display: none;
	position: fixed;   /*相对于屏幕定位*/
	width: 100%;
	height: 100%;
	background-color: rgba(000,000,000,0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000,endColorstr=#88000000);  /*滤镜,不很明白*/
	z-index: 1000;
}
.popvideo{
	position: fixed;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	margin-left: -475px;
	margin-top: -338px;
	width: 950px;
	height: 676px;
	background-color: #fff;
}
#v-close{
	position: absolute;
	top: 20px;
	right: 8px;
	width: 11px;
	height: 11px;
	background: url("../images/main.png") no-repeat -253px -95px;
	cursor: pointer;
}

.popvideo span{
	display: block;
	font-size: 1em;
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
}
.popvideo video{
	display: block;
	margin: 20px auto;
	width: 890px;
	height: 568px;
}
.popvideo video span{
	margin-top: 30px;
	margin-left: 30px;
}
.content5-4{
	float:right;
	margin:24px 60px 0 0;
	width:232px;
	height:720px;
	border:1px solid #e6e6e6;
}
.content5-4-1{
	width:232px;
	height:38px;
	
	font-size:16px;
	font-weight:normal;
	padding-top:20px;
	padding-left:20px;
}
.content5-4-2{
	border-top:1px solid #e6e6e6;
}
.content5-4-2-1{
	width:232px;
	height:80px;
}
.content5-4-2-1-1{
	float:left;
	padding-left:14px;
	padding-top:14px;
	width:48px;
	height:48px;
}
.content5-4-2-1-2{
	float:right;
	font-weight:normal;
	width:150px;
	height:18px;
	font-size:14px;
	margin-left:8px;
	margin-top:8px;
	overflow:hidden;
	text-overflow: ellipsis;

}
.content5-4-2-1-3{

	padding-left:16px;
	font-size:12px;
	margin-left:18px;
	
	background:url("../images/people.png") no-repeat;
}